#-Creating dataframe
#-Selcting column from differnt ways
#-spark sql
#-aliasing
#-filter and where
#-lit
#-withcolumn
#-cast
#-Union and unionAll
#-when otherwise

#Creating a dataframe

In [0]:
my_data = [ (1,1),
     (2,1),
    (3,1),
    (4,2),
    (5,1) ]

In [0]:
my_schema = ["id" , "num"]

In [0]:
df = spark.createDataFrame(data = my_data, schema = my_schema)

In [0]:
df.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
+---+---+

In [0]:
df.select("id").show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

In [0]:
df.select(col("id")).show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-929405842057849>:1
----> 1 df.select(col("id")).show()

NameError: name 'col' is not defined

In [0]:
from pyspark.sql.functions import*
from pyspark.sql.types import*

In [0]:
df.select(col("id")).show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

In [0]:
df.select("id"+5).show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-929405842057852>:1
----> 1 df.select("id"+5).show()

TypeError: can only concatenate str (not "int") to str

This is the reson we are using col , if we ahve to manipulate the column for eg inc the slaary of emp by 10% so we can't use select

In [0]:
df.select(col("id")*10).show()

+---------+
|(id * 10)|
+---------+
|       10|
|       20|
|       30|
|       40|
|       50|
+---------+

In [0]:
df.select("id","num").show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
+---+---+

In [0]:
df.select(col("id"),col("num")).show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
+---+---+

In [0]:
df2 = spark.read.format("csv")\
          .option("header","true")\
          .option("inferschema","true")\
          .load("/FileStore/tables/File.csv")

df2.show()

+---+--------+---+------+-------+------+
| id|    name|age|salary|address|gender|
+---+--------+---+------+-------+------+
|  1|  Manish| 26| 75000|  INDIA|     m|
|  2|  Nikita| 23|100000|    USA|     f|
|  3|  Pritam| 22|150000|  INDIA|     m|
|  4|Prantosh| 17|200000|  JAPAN|     m|
|  5|  Vikash| 31|300000|    USA|     m|
|  6|   Rahul| 55|300000|  INDIA|     m|
|  7|    Raju| 67|540000|    USA|     m|
|  8| Praveen| 28| 70000|  JAPAN|     m|
|  9|     Dev| 32|150000|  JAPAN|     m|
| 10|  Sherin| 16| 25000| RUSSIA|     f|
| 11|    Ragu| 12| 35000|  INDIA|     f|
| 12|   Sweta| 43|200000|  INDIA|     f|
| 13| Raushan| 48|650000|    USA|     m|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|
| 15| Prakash| 52|750000|  INDIA|     m|
+---+--------+---+------+-------+------+

Multiple ways to select columns

In [0]:
df2.select("id",col("name"), df2["age"], df2.address).show()

+---+--------+---+-------+
| id|    name|age|address|
+---+--------+---+-------+
|  1|  Manish| 26|  INDIA|
|  2|  Nikita| 23|    USA|
|  3|  Pritam| 22|  INDIA|
|  4|Prantosh| 17|  JAPAN|
|  5|  Vikash| 31|    USA|
|  6|   Rahul| 55|  INDIA|
|  7|    Raju| 67|    USA|
|  8| Praveen| 28|  JAPAN|
|  9|     Dev| 32|  JAPAN|
| 10|  Sherin| 16| RUSSIA|
| 11|    Ragu| 12|  INDIA|
| 12|   Sweta| 43|  INDIA|
| 13| Raushan| 48|    USA|
| 14|  Mukesh| 36| RUSSIA|
| 15| Prakash| 52|  INDIA|
+---+--------+---+-------+

In [0]:
df2.select("id + 5").show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-929405842057860>:1
----> 1 df2.select("id + 5").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `id + 5` cannot be resolved. Did you mean one of the following? [`id`, `address`, `age`, `gender`, `name`].;
'Project ['id + 5]
+- Relation [id#1215,name#1216,age#1217,salary#1218,address#1219,gender#1220] csv

In [0]:
df2.select(expr("id + 5")).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
|      11|
|      12|
|      13|
|      14|
|      15|
|      16|
|      17|
|      18|
|      19|
|      20|
+--------+

In [0]:
df2.select(expr("id as student_id"),expr("concat(name, age)")).show()

+----------+-----------------+
|student_id|concat(name, age)|
+----------+-----------------+
|         1|         Manish26|
|         2|         Nikita23|
|         3|         Pritam22|
|         4|       Prantosh17|
|         5|         Vikash31|
|         6|          Rahul55|
|         7|           Raju67|
|         8|        Praveen28|
|         9|            Dev32|
|        10|         Sherin16|
|        11|           Ragu12|
|        12|          Sweta43|
|        13|        Raushan48|
|        14|         Mukesh36|
|        15|        Prakash52|
+----------+-----------------+

In [0]:
df2.select("*").show()

+---+--------+---+------+-------+------+
| id|    name|age|salary|address|gender|
+---+--------+---+------+-------+------+
|  1|  Manish| 26| 75000|  INDIA|     m|
|  2|  Nikita| 23|100000|    USA|     f|
|  3|  Pritam| 22|150000|  INDIA|     m|
|  4|Prantosh| 17|200000|  JAPAN|     m|
|  5|  Vikash| 31|300000|    USA|     m|
|  6|   Rahul| 55|300000|  INDIA|     m|
|  7|    Raju| 67|540000|    USA|     m|
|  8| Praveen| 28| 70000|  JAPAN|     m|
|  9|     Dev| 32|150000|  JAPAN|     m|
| 10|  Sherin| 16| 25000| RUSSIA|     f|
| 11|    Ragu| 12| 35000|  INDIA|     f|
| 12|   Sweta| 43|200000|  INDIA|     f|
| 13| Raushan| 48|650000|    USA|     m|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|
| 15| Prakash| 52|750000|  INDIA|     m|
+---+--------+---+------+-------+------+

#Spark SQL

In [0]:
spark.sql("""
          select * from df2;
          """).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-316656845724143>:1
----> 1 spark.sql("""
      2           select * from df2;
      3           """).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `df2` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 2 pos 24;
'Project [*]
+- 'UnresolvedRelation [df2], [], false

We can't run sql on df , so we have to create either table or View from df first.

In [0]:
df2.createOrReplaceTempView("student")

In [0]:
spark.sql("""
          select * from student;
          """).show()

+---+--------+---+------+-------+------+
| id|    name|age|salary|address|gender|
+---+--------+---+------+-------+------+
|  1|  Manish| 26| 75000|  INDIA|     m|
|  2|  Nikita| 23|100000|    USA|     f|
|  3|  Pritam| 22|150000|  INDIA|     m|
|  4|Prantosh| 17|200000|  JAPAN|     m|
|  5|  Vikash| 31|300000|    USA|     m|
|  6|   Rahul| 55|300000|  INDIA|     m|
|  7|    Raju| 67|540000|    USA|     m|
|  8| Praveen| 28| 70000|  JAPAN|     m|
|  9|     Dev| 32|150000|  JAPAN|     m|
| 10|  Sherin| 16| 25000| RUSSIA|     f|
| 11|    Ragu| 12| 35000|  INDIA|     f|
| 12|   Sweta| 43|200000|  INDIA|     f|
| 13| Raushan| 48|650000|    USA|     m|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|
| 15| Prakash| 52|750000|  INDIA|     m|
+---+--------+---+------+-------+------+

#Aliasing

In [0]:
df2.show()

+---+--------+---+------+-------+------+
| id|    name|age|salary|address|gender|
+---+--------+---+------+-------+------+
|  1|  Manish| 26| 75000|  INDIA|     m|
|  2|  Nikita| 23|100000|    USA|     f|
|  3|  Pritam| 22|150000|  INDIA|     m|
|  4|Prantosh| 17|200000|  JAPAN|     m|
|  5|  Vikash| 31|300000|    USA|     m|
|  6|   Rahul| 55|300000|  INDIA|     m|
|  7|    Raju| 67|540000|    USA|     m|
|  8| Praveen| 28| 70000|  JAPAN|     m|
|  9|     Dev| 32|150000|  JAPAN|     m|
| 10|  Sherin| 16| 25000| RUSSIA|     f|
| 11|    Ragu| 12| 35000|  INDIA|     f|
| 12|   Sweta| 43|200000|  INDIA|     f|
| 13| Raushan| 48|650000|    USA|     m|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|
| 15| Prakash| 52|750000|  INDIA|     m|
+---+--------+---+------+-------+------+

In [0]:
df2.select(col("id").alias("emp_id")).show()

+------+
|emp_id|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
+------+

#filter and where

In [0]:
df2.where(col("salary")>200000).show()

+---+-------+---+------+-------+------+
| id|   name|age|salary|address|gender|
+---+-------+---+------+-------+------+
|  5| Vikash| 31|300000|    USA|     m|
|  6|  Rahul| 55|300000|  INDIA|     m|
|  7|   Raju| 67|540000|    USA|     m|
| 13|Raushan| 48|650000|    USA|     m|
| 15|Prakash| 52|750000|  INDIA|     m|
+---+-------+---+------+-------+------+

In [0]:
df2.filter(col("salary")>200000).show()

+---+-------+---+------+-------+------+
| id|   name|age|salary|address|gender|
+---+-------+---+------+-------+------+
|  5| Vikash| 31|300000|    USA|     m|
|  6|  Rahul| 55|300000|  INDIA|     m|
|  7|   Raju| 67|540000|    USA|     m|
| 13|Raushan| 48|650000|    USA|     m|
| 15|Prakash| 52|750000|  INDIA|     m|
+---+-------+---+------+-------+------+

In [0]:
df2.filter((col("salary")>200000) & (col("address") == 'USA')).show()

+---+-------+---+------+-------+------+
| id|   name|age|salary|address|gender|
+---+-------+---+------+-------+------+
|  5| Vikash| 31|300000|    USA|     m|
|  7|   Raju| 67|540000|    USA|     m|
| 13|Raushan| 48|650000|    USA|     m|
+---+-------+---+------+-------+------+

#Literal
lit function from the pyspark.sql.functions module is used to create a column with a literal value. This is particularly useful when you need to include a constant value in a DataFrame operation.

In [0]:
df3 = df2.select("*",lit("Sati").alias("last_name"))
df3.show()

+---+--------+---+------+-------+------+---------+
| id|    name|age|salary|address|gender|last_name|
+---+--------+---+------+-------+------+---------+
|  1|  Manish| 26| 75000|  INDIA|     m|     Sati|
|  2|  Nikita| 23|100000|    USA|     f|     Sati|
|  3|  Pritam| 22|150000|  INDIA|     m|     Sati|
|  4|Prantosh| 17|200000|  JAPAN|     m|     Sati|
|  5|  Vikash| 31|300000|    USA|     m|     Sati|
|  6|   Rahul| 55|300000|  INDIA|     m|     Sati|
|  7|    Raju| 67|540000|    USA|     m|     Sati|
|  8| Praveen| 28| 70000|  JAPAN|     m|     Sati|
|  9|     Dev| 32|150000|  JAPAN|     m|     Sati|
| 10|  Sherin| 16| 25000| RUSSIA|     f|     Sati|
| 11|    Ragu| 12| 35000|  INDIA|     f|     Sati|
| 12|   Sweta| 43|200000|  INDIA|     f|     Sati|
| 13| Raushan| 48|650000|    USA|     m|     Sati|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|     Sati|
| 15| Prakash| 52|750000|  INDIA|     m|     Sati|
+---+--------+---+------+-------+------+---------+

#with columns -- used to create new column or modification in existing column

In [0]:
df2.withColumn("sur_name",lit("singh")).show()

+---+--------+---+------+-------+------+--------+
| id|    name|age|salary|address|gender|sur_name|
+---+--------+---+------+-------+------+--------+
|  1|  Manish| 26| 75000|  INDIA|     m|   singh|
|  2|  Nikita| 23|100000|    USA|     f|   singh|
|  3|  Pritam| 22|150000|  INDIA|     m|   singh|
|  4|Prantosh| 17|200000|  JAPAN|     m|   singh|
|  5|  Vikash| 31|300000|    USA|     m|   singh|
|  6|   Rahul| 55|300000|  INDIA|     m|   singh|
|  7|    Raju| 67|540000|    USA|     m|   singh|
|  8| Praveen| 28| 70000|  JAPAN|     m|   singh|
|  9|     Dev| 32|150000|  JAPAN|     m|   singh|
| 10|  Sherin| 16| 25000| RUSSIA|     f|   singh|
| 11|    Ragu| 12| 35000|  INDIA|     f|   singh|
| 12|   Sweta| 43|200000|  INDIA|     f|   singh|
| 13| Raushan| 48|650000|    USA|     m|   singh|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|   singh|
| 15| Prakash| 52|750000|  INDIA|     m|   singh|
+---+--------+---+------+-------+------+--------+

In [0]:
df2.withColumnRenamed("id", "emp_id").show()

+------+--------+---+------+-------+------+
|emp_id|    name|age|salary|address|gender|
+------+--------+---+------+-------+------+
|     1|  Manish| 26| 75000|  INDIA|     m|
|     2|  Nikita| 23|100000|    USA|     f|
|     3|  Pritam| 22|150000|  INDIA|     m|
|     4|Prantosh| 17|200000|  JAPAN|     m|
|     5|  Vikash| 31|300000|    USA|     m|
|     6|   Rahul| 55|300000|  INDIA|     m|
|     7|    Raju| 67|540000|    USA|     m|
|     8| Praveen| 28| 70000|  JAPAN|     m|
|     9|     Dev| 32|150000|  JAPAN|     m|
|    10|  Sherin| 16| 25000| RUSSIA|     f|
|    11|    Ragu| 12| 35000|  INDIA|     f|
|    12|   Sweta| 43|200000|  INDIA|     f|
|    13| Raushan| 48|650000|    USA|     m|
|    14|  Mukesh| 36| 95000| RUSSIA|     m|
|    15| Prakash| 52|750000|  INDIA|     m|
+------+--------+---+------+-------+------+

In [0]:
df2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- gender: string (nullable = true)

Cast

In [0]:
df2.withColumn("id",col("id").cast("string")).printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- gender: string (nullable = true)

In [0]:
df2.withColumn("salary",col("salary").cast("double")).printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: double (nullable = true)
 |-- address: string (nullable = true)
 |-- gender: string (nullable = true)

In [0]:
df3.show()

+---+--------+---+------+-------+------+---------+
| id|    name|age|salary|address|gender|last_name|
+---+--------+---+------+-------+------+---------+
|  1|  Manish| 26| 75000|  INDIA|     m|     Sati|
|  2|  Nikita| 23|100000|    USA|     f|     Sati|
|  3|  Pritam| 22|150000|  INDIA|     m|     Sati|
|  4|Prantosh| 17|200000|  JAPAN|     m|     Sati|
|  5|  Vikash| 31|300000|    USA|     m|     Sati|
|  6|   Rahul| 55|300000|  INDIA|     m|     Sati|
|  7|    Raju| 67|540000|    USA|     m|     Sati|
|  8| Praveen| 28| 70000|  JAPAN|     m|     Sati|
|  9|     Dev| 32|150000|  JAPAN|     m|     Sati|
| 10|  Sherin| 16| 25000| RUSSIA|     f|     Sati|
| 11|    Ragu| 12| 35000|  INDIA|     f|     Sati|
| 12|   Sweta| 43|200000|  INDIA|     f|     Sati|
| 13| Raushan| 48|650000|    USA|     m|     Sati|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|     Sati|
| 15| Prakash| 52|750000|  INDIA|     m|     Sati|
+---+--------+---+------+-------+------+---------+

In [0]:
df3.drop("last_name").show()

+---+--------+---+------+-------+------+
| id|    name|age|salary|address|gender|
+---+--------+---+------+-------+------+
|  1|  Manish| 26| 75000|  INDIA|     m|
|  2|  Nikita| 23|100000|    USA|     f|
|  3|  Pritam| 22|150000|  INDIA|     m|
|  4|Prantosh| 17|200000|  JAPAN|     m|
|  5|  Vikash| 31|300000|    USA|     m|
|  6|   Rahul| 55|300000|  INDIA|     m|
|  7|    Raju| 67|540000|    USA|     m|
|  8| Praveen| 28| 70000|  JAPAN|     m|
|  9|     Dev| 32|150000|  JAPAN|     m|
| 10|  Sherin| 16| 25000| RUSSIA|     f|
| 11|    Ragu| 12| 35000|  INDIA|     f|
| 12|   Sweta| 43|200000|  INDIA|     f|
| 13| Raushan| 48|650000|    USA|     m|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|
| 15| Prakash| 52|750000|  INDIA|     m|
+---+--------+---+------+-------+------+

In [0]:
df3.withColumn("gender",upper("gender")).show()

+---+--------+---+------+-------+------+---------+
| id|    name|age|salary|address|gender|last_name|
+---+--------+---+------+-------+------+---------+
|  1|  Manish| 26| 75000|  INDIA|     M|     Sati|
|  2|  Nikita| 23|100000|    USA|     F|     Sati|
|  3|  Pritam| 22|150000|  INDIA|     M|     Sati|
|  4|Prantosh| 17|200000|  JAPAN|     M|     Sati|
|  5|  Vikash| 31|300000|    USA|     M|     Sati|
|  6|   Rahul| 55|300000|  INDIA|     M|     Sati|
|  7|    Raju| 67|540000|    USA|     M|     Sati|
|  8| Praveen| 28| 70000|  JAPAN|     M|     Sati|
|  9|     Dev| 32|150000|  JAPAN|     M|     Sati|
| 10|  Sherin| 16| 25000| RUSSIA|     F|     Sati|
| 11|    Ragu| 12| 35000|  INDIA|     F|     Sati|
| 12|   Sweta| 43|200000|  INDIA|     F|     Sati|
| 13| Raushan| 48|650000|    USA|     M|     Sati|
| 14|  Mukesh| 36| 95000| RUSSIA|     M|     Sati|
| 15| Prakash| 52|750000|  INDIA|     M|     Sati|
+---+--------+---+------+-------+------+---------+

#UNION and UNION ALL

In [0]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema = ["id","name","salary","age"]

emp = spark.createDataFrame(data = data, schema = schema)

emp.show()

+---+------+------+---+
| id|  name|salary|age|
+---+------+------+---+
| 10|  Anil| 50000| 18|
| 11| Vikas| 75000| 16|
| 12| Nisha| 40000| 18|
| 13| Nidhi| 60000| 17|
| 14| Priya| 80000| 18|
| 15| Mohit| 45000| 18|
| 16|Rajesh| 90000| 10|
| 17| Raman| 55000| 16|
| 17| Raman| 55000| 16|
| 18|   Sam| 65000| 17|
+---+------+------+---+

In [0]:
data1=[(20 ,'Grv',50000, 25),
(11 ,'Vikas',75000,  16)]

schema1 = ["id","name","salary","age"]


emp2 = spark.createDataFrame(data = data1, schema = schema1)

emp2.show()

+---+-----+------+---+
| id| name|salary|age|
+---+-----+------+---+
| 20|  Grv| 50000| 25|
| 11|Vikas| 75000| 16|
+---+-----+------+---+

In [0]:
emp.union(emp2).count()

Out[32]: 12

In [0]:
emp.union(emp2).show()

+---+------+------+---+
| id|  name|salary|age|
+---+------+------+---+
| 10|  Anil| 50000| 18|
| 11| Vikas| 75000| 16|
| 12| Nisha| 40000| 18|
| 13| Nidhi| 60000| 17|
| 14| Priya| 80000| 18|
| 15| Mohit| 45000| 18|
| 16|Rajesh| 90000| 10|
| 17| Raman| 55000| 16|
| 17| Raman| 55000| 16|
| 18|   Sam| 65000| 17|
| 20|   Grv| 50000| 25|
| 11| Vikas| 75000| 16|
+---+------+------+---+

In [0]:
emp.unionAll(emp2).count()

Out[33]: 12

In [0]:
data3=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

schema3 = ["id","salary","age","name"]

wrong_column = spark.createDataFrame(data = data3, schema = schema3)

wrong_column.show()

+---+------+---+-----+
| id|salary|age| name|
+---+------+---+-----+
| 19| 50000| 18|Sohan|
| 20| 75000| 17| Sima|
+---+------+---+-----+

If we union this differnet order column with then it just add the columns of wrong column

In [0]:
emp.union(wrong_column).show()

+---+------+------+-----+
| id|  name|salary|  age|
+---+------+------+-----+
| 10|  Anil| 50000|   18|
| 11| Vikas| 75000|   16|
| 12| Nisha| 40000|   18|
| 13| Nidhi| 60000|   17|
| 14| Priya| 80000|   18|
| 15| Mohit| 45000|   18|
| 16|Rajesh| 90000|   10|
| 17| Raman| 55000|   16|
| 17| Raman| 55000|   16|
| 18|   Sam| 65000|   17|
| 19| 50000|    18|Sohan|
| 20| 75000|    17| Sima|
+---+------+------+-----+

In [0]:
emp.unionByName(wrong_column).show()

+---+------+------+---+
| id|  name|salary|age|
+---+------+------+---+
| 10|  Anil| 50000| 18|
| 11| Vikas| 75000| 16|
| 12| Nisha| 40000| 18|
| 13| Nidhi| 60000| 17|
| 14| Priya| 80000| 18|
| 15| Mohit| 45000| 18|
| 16|Rajesh| 90000| 10|
| 17| Raman| 55000| 16|
| 17| Raman| 55000| 16|
| 18|   Sam| 65000| 17|
| 19| Sohan| 50000| 18|
| 20|  Sima| 75000| 17|
+---+------+------+---+

But we can't use this "unionby name always because sometime columns name are differnt P_ID and Product_id

In [0]:
data4=[(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)]

schema4 = ['id','salary','age','name','bonus']

extra_column = spark.createDataFrame(data = data4, schema = schema4)

extra_column.show()

+---+------+---+-----+-----+
| id|salary|age| name|bonus|
+---+------+---+-----+-----+
| 19| 50000| 18|Sohan|   10|
| 20| 75000| 17| Sima|   20|
+---+------+---+-----+-----+

In [0]:
wrong_column.union(extra_column).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-577456707468817>:1
----> 1 wrong_column.union(extra_column).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3646, in DataFrame.union(self, other)
   3598 def union(self, other: "DataFrame") -> "DataFrame":
   3599     """Return a new :class:`DataFrame` containing union of rows in this and another
   3600     :class:`DataFrame`.
   3601
   (...)
   3644     +----+----+----+
   3645     """
-> 3646     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 4 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [id#1116L, salary#1117L, age#1118L, name#1119], false
+- LogicalRDD [id#1213L, salary#1214L, age#1215L, name#1216, bonus#1217L], false

In [0]:
wrong_column.union(extra_column,allowMissingColumns = True).show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-577456707468821>:1
----> 1 wrong_column.union(extra_column,allowMissingcolmns = True).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: union() got an unexpected keyword argument 'allowMissingColumns'

In [0]:
extra_column.select("id","salary","age","name").union(wrong_column).show()

+---+------+---+-----+
| id|salary|age| name|
+---+------+---+-----+
| 19| 50000| 18|Sohan|
| 20| 75000| 17| Sima|
| 19| 50000| 18|Sohan|
| 20| 75000| 17| Sima|
+---+------+---+-----+

In [0]:
# Example DataFrames
data1 = [("Alice", 100000, "USA"), ("Bob", 150000, "UK")]
data2 = [("Alice", 100000, "USA"), ("Charlie", 120000, "USA")]

columns = ["name", "salary", "address"]
df1 = spark.createDataFrame(data1, columns)
df2 = spark.createDataFrame(data2, columns)

# Perform union (distinct rows)
union_df = df1.union(df2)
distinct_union = union_df.distinct()
distinct_union.show()

+-------+------+-------+
|   name|salary|address|
+-------+------+-------+
|  Alice|100000|    USA|
|    Bob|150000|     UK|
|Charlie|120000|    USA|
+-------+------+-------+

#when otherise

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

sche = ["id","name","age","salary","counry","dept"]

emp_df = spark.createDataFrame(data = emp_data, schema = sche)

emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary| counry|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.withColumn("adult",when(col("age")>18, "yes")
                    .when(col("age")<18,"No")
                    .otherwise("No Value")).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary| counry|       dept|   adult|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|     yes|
|   2|  rahul|null| 40000|germany|engineering|No Value|
|   3|  pawan|  12| 60000|  india|      sales|      No|
|   4|roshini|  44|  null|     uk|engineering|     yes|
|   5|raushan|  35| 70000|  india|      sales|     yes|
|   6|   null|  29|200000|     uk|         IT|     yes|
|   7|   adam|  37| 65000|     us|         IT|     yes|
|   8|  chris|  16| 40000|     us|      sales|      No|
|null|   null|null|  null|   null|       null|No Value|
|   7|   adam|  37| 65000|     us|         IT|     yes|
+----+-------+----+------+-------+-----------+--------+

In [0]:
emp_df1 =emp_df.withColumn("age",when(col("age").isNull(), lit(19))
                  .otherwise(col("age")))\
                  .withColumn("adult",when(col("age")>18, "yes")
                  .otherwise("No"))
emp_df1.show()

+----+-------+---+------+-------+-----------+-----+
|  id|   name|age|salary| counry|       dept|adult|
+----+-------+---+------+-------+-----------+-----+
|   1| manish| 26| 20000|  india|         IT|  yes|
|   2|  rahul| 19| 40000|germany|engineering|  yes|
|   3|  pawan| 12| 60000|  india|      sales|   No|
|   4|roshini| 44|  null|     uk|engineering|  yes|
|   5|raushan| 35| 70000|  india|      sales|  yes|
|   6|   null| 29|200000|     uk|         IT|  yes|
|   7|   adam| 37| 65000|     us|         IT|  yes|
|   8|  chris| 16| 40000|     us|      sales|   No|
|null|   null| 19|  null|   null|       null|  yes|
|   7|   adam| 37| 65000|     us|         IT|  yes|
+----+-------+---+------+-------+-----------+-----+

In [0]:
emp_df1.withColumn("age_wise",when((col("age")>0) & (col("age")<18), "Minor")
                  .when((col("age")>18) & (col("age")<30), "Senior")
                  .otherwise("old")).show()

+----+-------+---+------+-------+-----------+-----+--------+
|  id|   name|age|salary| counry|       dept|adult|age_wise|
+----+-------+---+------+-------+-----------+-----+--------+
|   1| manish| 26| 20000|  india|         IT|  yes|  Senior|
|   2|  rahul| 19| 40000|germany|engineering|  yes|  Senior|
|   3|  pawan| 12| 60000|  india|      sales|   No|   Minor|
|   4|roshini| 44|  null|     uk|engineering|  yes|     old|
|   5|raushan| 35| 70000|  india|      sales|  yes|     old|
|   6|   null| 29|200000|     uk|         IT|  yes|  Senior|
|   7|   adam| 37| 65000|     us|         IT|  yes|     old|
|   8|  chris| 16| 40000|     us|      sales|   No|   Minor|
|null|   null| 19|  null|   null|       null|  yes|  Senior|
|   7|   adam| 37| 65000|     us|         IT|  yes|     old|
+----+-------+---+------+-------+-----------+-----+--------+

In [0]:
emp_df1.createOrReplaceTempView("emp")

In [0]:
spark.sql("""
          select *,
          case when age > 0 and age < 18 then "Minor"
                when age > 18 and age < 30 then "Senior"
                else "old"
        end as Age_wise
        from emp;
          """).show()

+----+-------+---+------+-------+-----------+-----+--------+
|  id|   name|age|salary| counry|       dept|adult|Age_wise|
+----+-------+---+------+-------+-----------+-----+--------+
|   1| manish| 26| 20000|  india|         IT|  yes|  Senior|
|   2|  rahul| 19| 40000|germany|engineering|  yes|  Senior|
|   3|  pawan| 12| 60000|  india|      sales|   No|   Minor|
|   4|roshini| 44|  null|     uk|engineering|  yes|     old|
|   5|raushan| 35| 70000|  india|      sales|  yes|     old|
|   6|   null| 29|200000|     uk|         IT|  yes|  Senior|
|   7|   adam| 37| 65000|     us|         IT|  yes|     old|
|   8|  chris| 16| 40000|     us|      sales|   No|   Minor|
|null|   null| 19|  null|   null|       null|  yes|  Senior|
|   7|   adam| 37| 65000|     us|         IT|  yes|     old|
+----+-------+---+------+-------+-----------+-----+--------+